fastapi
uvicorn
openai
python-dotenv
tavily-python
firecrawl-py
beautifulsoup4
requests

PyMuPDF

supabase

python-multipart

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
